# Manipulação de Arquivos e Dataframes

Leonardo Ferraro Gianfagna 18174490<br>Pedro Henrique Araujo 22900732

### 1) Importe a biblioteca Pandas.

In [1]:
import numpy as np
import pandas as pd

### 2) Leia os arquivos CSV e carregue-os em DataFrames.

In [2]:
movies = pd.read_csv(r"D:\Downloads\ManipulacaoArquivos\movies.csv")
ratings = pd.read_csv(r"D:\Downloads\ManipulacaoArquivos\ratings.csv")

### 3) Exiba as primeiras 5 linhas de cada DataFrame.

In [3]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

### 4) Exiba informações gerais dos DataFrames.

In [5]:
movies.describe()

             movieId
count    9742.000000
mean    42200.353623
std     52160.494854
min         1.000000
25%      3248.250000
50%      7300.000000
75%     76232.000000
max    193609.000000

In [6]:
ratings.describe()

              userId        movieId         rating     timestamp
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

### 5) Qual é o número total de filmes no conjunto de dados? E qual é o número total de avaliações no conjunto de dados?

In [7]:
total_movies = movies.movieId.count()
print(total_movies)

9742

In [8]:
total_ratings = ratings.rating.count()
print(total_ratings)

100836

### 6) Todos os IDs de filmes que aparecem no arquivo de avaliações, também aparece no arquivo de filmes? E o contrário, também ocorre?

In [22]:
ids_ratings = set(ratings["movieId"].unique())
ids_movies = set(movies["movieId"].unique())
missing_movies = ids_ratings - ids_movies
missing_ratings = ids_movies - ids_ratings

print(f"Filmes avaliados que não estão no movies.csv: {len(filmes_faltando_no_movies)}") # Portanto sim, todos os ids aparecem no arquivo de filmes
print(f"Filmes no movies.csv que nunca foram avaliados: {len(filmes_faltando_no_ratings)}") # Contrário não ocorre, falta registros

Filmes avaliados que não estão no movies.csv: 0
Filmes no movies.csv que nunca foram avaliados: 18

### 7) Encontre a média geral das avaliações atribuídas aos filmes.

In [9]:
media = ratings.rating.mean()
print(media)

3.501556983616962

### 8) Liste os 10 filmes mais avaliados (aqueles com mais quantidade de avaliações).

In [10]:
ratings.groupby("movieId")["rating"].count().sort_values(ascending=False).head(10)

movieId
356     329
318     317
296     307
593     279
2571    278
260     251
480     238
110     237
589     224
527     220
Name: rating, dtype: int64

### 9) Liste os 10 filmes com a maior média de avaliações (desde que tenham pelo menos 50 avaliações para evitar vieses com poucos dados).

In [11]:
qtd_ratings = ratings.groupby("movieId")["rating"].count()
movies_filtered = qtd_ratings[qtd_ratings >= 50]

movie_means = ratings.groupby("movieId")["rating"].mean()
movie_means = movie_means.loc[movies_filtered.index]

movie_means.sort_values(ascending=False).head(10)

movieId
318      4.429022
858      4.289062
2959     4.272936
1276     4.271930
750      4.268041
904      4.261905
1221     4.259690
48516    4.252336
1213     4.250000
912      4.240000
Name: rating, dtype: float64

### 10) Filtre todos os filmes que pertencem ao gênero "Comedy".

In [12]:
movies[movies["genres"].str.contains("Comedy", na=False)]

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
6,7,Sabrina (1995),Comedy|Romance
...,...,...,...
9732,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi
9734,193571,Silver Spoon (2014),Comedy|Drama
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

### 11) Crie um novo DataFrame contendo apenas filmes do gênero "Comedy" com sua respectiva média de avaliação.

In [14]:
comedy_movies = movies[movies["genres"].str.contains("Comedy", na=False)]
rating_mean = ratings.groupby("movieId")["rating"].mean()
df_comedy = comedy_movies.merge(rating_mean, on="movieId", how="left")

df_comedy

,movieId,title,genres,rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.920930
1,3,Grumpier Old Men (1995),Comedy|Romance,3.259615
2,4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.357143
3,5,Father of the Bride Part II (1995),Comedy,3.071429
4,7,Sabrina (1995),Comedy|Romance,3.185185
...,...,...,...,...
3751,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,3.500000
3752,193571,Silver Spoon (2014),Comedy|Drama,4.000000
3753,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,4.000000
3754,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,3.500000
3755,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,4.000000

### 12) Exporte esse DataFrame para um novo arquivo CSV chamado comedy_movies.csv.

In [15]:
df_comedy.to_csv('comedy_movies.csv', index=False)
print("Arquivo CSV salvo com sucesso.")

Arquivo CSV salvo com sucesso.